@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.mainApp {
  width: 390px;
}

.heroImg {
  width: 390px;
  height: 241px;
  position: relative;
  z-index: -1;
}

.heroImgMain::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 241px;
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 1;
}

/* menu slider css */
.mainCarousal {
  display: flex;
  width: 365px;
  overflow: scroll;
  margin: auto;
}

.mainCarousal::-webkit-scrollbar,
.cartItemsMain::-webkit-scrollbar {
  display: none;
}

.carousalItems {
  min-height: 100%;
  width: 100%;
  margin-right: 15px;
  position: relative;
}


.container {
  display: block;
  position: relative;
  padding-top: 1.5px;
  padding-left: 25px;
  cursor: pointer;
  font-size: 10.5px;
  font-weight: 500;
  padding-bottom: 8px;
}

/* Hide the browser's default checkbox */
.container .checkut {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */
.container .check:checked~.checkmark {
  background-color: #C84044;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container .check:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4.5px;
  top: 1.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cartItemsMain {
  height: 400px;
  overflow-y: auto;
  padding: 10px 0px 30px 0px;
}

.PhoneInputCountry {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 13px;
}

.PhoneInputCountrySelect {
  width: 18px;
}

.PhoneInputCountryIcon {
  width: 30px;
}

.PhoneInput,
.loginNameInput {
  display: flex;
  border: 1.3px solid rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  height: 40px;
  font-size: 13px;
  padding-left: 10px;
}


.loginNameInput:focus {
  outline: none;
}

.PhoneInputInput {
  width: 100%;
  height: 40px;
  padding-left: 12px;
  font-size: 13px;
  background-color: transparent;
}

.PhoneInputInput:focus {
  border: 0px;
  outline: none;
}

.modalBranches,
.mapBranches,
.pickMapBranches {
  height: 290px;
  overflow-y: auto;
}

.pickMapBranches {
  height: 320px;
}

.mapBranches {
  height: 365px;
}

.modalBranches::-webkit-scrollbar,
.mapBranches::-webkit-scrollbar,
.pickMapBranches::-webkit-scrollbar {
  display: none;
}